*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden !important;

}
body{
    overflow-x: hidden !important;
    background-color: black;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
.burger-list,.close-menu-btn{
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
    padding: 5rem 9% 5rem;
    margin-top: 7rem;

}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: #b74b4b;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 35%;
    box-shadow: 0 0 25px solid #b74b4b;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.web-developer{
    color: #b74b4b;
}

.title-word {
    font-size: 6rem;
    margin-left: 50px;
    font-weight: 400;
    position: relative;
    background: #B74B4B;
    background: linear-gradient(to right, #B74B4B 0%, #FFFFFF 47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.title-word::after{
    content: "";
    height: 2px;
    width: 100%;
    background: #b74b4b;
    position: absolute;
    top: 50%;
    left: -100.5%;
}

 

.container{
    display: grid;
    padding: 10rem;
    direction: ltr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.second-container, .third-container{
    margin-top: 10rem;
}
.text-image-container{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.works-title{
    font-size: 5rem;
}
.works-des{
    line-height: 33px;
    font-size: 1.5rem;
}

.visit-site{
    color: white;
    font-size: 2.2rem;
    background: #b74b4b;
    border-radius: 5px;
    width: 175px;
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 4rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 9px 12px 0px rgba(193,48,48,0.75);
-webkit-box-shadow: 0px 9px 12px 0px rgba(193,48,48,0.75);
-moz-box-shadow: 0px 9px 12px 0px rgba(193,48,48,0.75);
}
.visit-site:hover{
    color: black;
    background: #d6aeae;
    font-size: 2.3rem;
}



.about-me {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 90px 0;
  }
  .me-word{
    color: #b74b4b;
  }
  .pic {
    height: auto;
    width: 400px;
    border-radius: 12px;
  }
  .about {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    background: rgb(18,18,18);
background: radial-gradient(circle, rgba(18,18,18,1) 85%, rgba(50,50,50,1) 100%);
border-radius: 10px;
  }
  .text {
    width: 540px;
  }
  .text h2 {
    color: white;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .text h5 {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .text p {
    color: white;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data {
    margin-top: 30px;
  }





#contact-form{
    padding: 2rem;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 8rem;
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #b74b4b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #b74b4b; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#b74b4b;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#b74b4b; }


footer{
    background: rgb(23, 23, 23);
    padding: 10rem 0;
    margin-top: 20rem;
    box-shadow: -1px -13px 55px -6px rgba(183,75,75,0.84);
-webkit-box-shadow: -1px -13px 55px -6px rgba(183,75,75,0.84);
-moz-box-shadow: -1px -13px 55px -6px rgba(183,75,75,0.84);
}
.footer-brand-name{
    text-align: center;
    color: #b74b4b;
    font-size: 3rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    margin-top: 2rem;
}

.link{
    color: white;
    font-size: 2rem;
    font-weight:300;
    transition: 0.3s ease-in-out;
}

.link:hover{
    color: #b74b4b;
}

.stay-in-touch{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 5rem;
}
.contact{
    text-align: center;
}


.contact a i{
    font-size: 2rem;
    color: #b74b4b;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2.6rem;
}
.copyright-word{
    text-align: center;
    margin-top: 4rem;
}


.splash{
    position: absolute;
    z-index: -1;
    left: 11%;
    width: 400px;
    top: 16%;
    transform: rotate(-29deg) translate(-50%, -50%);
    opacity: 0.3;
}
.splash-2 {
    position: absolute;
    top: 20%;
    right: 6%;
    z-index: -1;
    width: 700px;
    opacity: 0.7;
    transform: rotate(167deg) translate(-50%, -50%);
    overflow: hidden;

}


svg {
    margin: 0 auto;
    display: block;
    width: 100%;
    opacity: 0.3;
    height: 100%;
    position: absolute;
    top: 106%;
    left: 78%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .autograph__path {
    opacity: 0;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  
    .animated & {
      opacity: 1;
      animation-name: line;
    }
  }
  
  @keyframes line {
    100% {
      stroke-dashoffset: 0;
    }
  }



  .works-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
    gap: 0.7rem;
  }
  .work-info{
    position: relative;
  }



  .work-description-container{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);  
    z-index: 9999;
}
.works-image {
    width: 100%;
    border-radius: 7px;
    height: 640px;
    filter: brightness(0.8);
}

  .work-description-container{
    position: absolute;
    display: flex;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  }

  .work-description-container.show {
    opacity: 1;
    visibility: visible;
  }
  .work-description,.work-title{
    color: white !important;
  }
  .work-description{
    font-size: 16px;
    text-wrap: balance;
    font-style: italic;
    
  }
  .work-title{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }







@media screen and (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media screen and (max-width:992px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 50vw;
        margin-top: 4rem;
    }

    .container{
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 10rem;
    }

    .second-container,.third-container{
        margin-top: 20rem;
    }
    .about{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  .pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  

  .title-word{
    margin-top: 10rem;
  }
  svg{
    width: 900px;
  }

  .works-container {
    grid-template-columns: 1fr;
}

.work-info {
    margin-top: 20px;
}

  
    
}

@media screen and (max-width:768px) {
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    nav {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 400px;
        height: 100%;
        background: #1d1d1d;
        transition: 0.3s ease-in-out;
    }
    .burger-list,.close-menu-btn{
        width: max-content;
        background: none;
        display: block;
        cursor: pointer;
    }
    .fa-bars{
        font-size: 3.5rem;
        color: #b74b4b;
    }
    .close-menu-btn{
        padding: 3rem;
        margin-left: auto;
    }

    nav a{
         margin-left: 1.5rem; 
         display: block;
         margin-top: 1.5rem;
         font-size: 2rem;
    }
    .fa-x{
        color: white;
        font-size: 3.5rem;
    }
    .drag{
        right: 0;
    }
    .splash {
        top: 3%;
    }
    .works-image {
    height: 420px;
}

} 

@media screen and (max-width:578px){
    form{
        width: 90%;
    }

    .about h2{
        font-size: 6rem;
    }
    .pic{
        width: 90%;
    }
    .text{
        width: 100%;
        padding-left: 20px;
        padding-right: 10px;
    }
    ul {
        display: grid;
        text-align: center;
        align-items: center;
    }
    .splash-2 {
        top: 25%;
        right: 7%;
    }
    svg{
        opacity: 0.2;
    left: 52%;
    }
    .x, .github{
        margin-top: 0px !important;
    }
    .social-icons a{
        margin: 3rem 1.5rem 2rem 0px;
    }
    .works-container {
    padding: 10px;
}
   
.works-image {
    height: 300px;
}
.work-description {
    font-size: 12px;
}
.work-title {
    font-size: 24px;
}
}







.prevent-user{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}