.hero-container{
      position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 99;
}
.left-side-hero{
      background: linear-gradient(111deg, #000000 54%, transparent 50%);
      height: 100vh;
      width: 100%;
}

.hero-image{
height: 100vh;
    width: 70%;
    margin-left: auto;
}

.text-container{
      left: 30%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5rem;
}

html{
    overflow-x: hidden;
}
.splash-image{
    width: 400px;
    transform: rotate(-35deg) translate(-50%, -50%);
    left: 10%;
    top: 0%;
    opacity: 0.6;
}

@media screen and (max-width: 992px) {
    .hero-image {
    width: 100%;
}
}

@media screen and (max-width: 768px) {
    .left-side-hero {
            background: linear-gradient(150deg, #000000 53%, transparent 50%);
    height: 100vh;
    width: 100%;
    }
.hero-image {
    height: 69vh;
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    top: 34%;
    left: 0%;
}
    .text-container {
    left: 54%;
    top: 27%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 2rem;
}
}